In [1]:
## Dictionaries
## kind of like a list but better sometimes

dict_var = {}
print(dict_var)

{}

In [10]:
dict_var = {
    "John" : 8325235913,
    "Jack" : 8322235917,
    "Jill" : 83232358438
}
print(dict_var)

{'John': 8325235913, 'Jack': 8322235917, 'Jill': 83232358438}

In [11]:
dict_var["John"]

8325235913

In [12]:
## Deleting
del dict_var["Jill"]

In [13]:
print(dict_var)

{'John': 8325235913, 'Jack': 8322235917}

In [14]:
## Iterating, 1) List 2) Dictionary

l = 44,77,345,655,233

for i in l:
    print(i)

44
77
345
655
233

In [17]:
for i in dict_var:
    print(i)
    print(dict_var[i])

John
8325235913
Jack
8322235917

In [18]:
#iterting through index ONLY, and manipulating

for i in dict_var:
    print(i)
    if i == "Jack":
        dict_var[i] = 3468150291

John
Jack

In [19]:
print(dict_var)

{'John': 8325235913, 'Jack': 3468150291}

In [23]:
#iterating through index and definintion

for i, el in dict_var.items():
    print(i)
    print(el)

John
8325235913
Jack
3468150291

In [24]:
dict_var.items()

dict_items([('John', 8325235913), ('Jack', 3468150291)])

In [27]:
#Lists within lists

inner = ["A","B"]
inner2 = ["B","C"]

outer = []
outer.append(inner)
outer.append(inner2)
print(outer)

[['A', 'B'], ['B', 'C']]

In [32]:
##  Turning dict into list

l = list(dict_var.items())
l[0]

# Shouldnt be done because a dictionary is more powerfull than list

('John', 8325235913)

In [33]:
dict_var = {
    "John" : 8325235913,
    "Jack" : 8322235917,
    "Jill" : 83232358438
}

In [35]:
# Adding stuff to the dictionary

dict_var["Ibrahim"] = 8324393182
print(dict_var)

{'John': 8325235913, 'Jack': 8322235917, 'Jill': 83232358438, 'Ibrahim': 8324393182}

In [38]:
## Another Way to thiink about it

d = {
    "Names" : ['Mahmood',"Muayad"],
    "Numbers" : [8325235913, 83232358438]
}

In [39]:
d

{'Names': ['Mahmood', 'Muayad'], 'Numbers': [8325235913, 83232358438]}

In [48]:
## Exporting dictionaries to a csv
import csv
w = csv.writer(open("output.csv", "w"))
for key, val in dict_var.items():
    w.writerow([key, val])

In [52]:
## DataFrame

# A dataframe, called df for short, is pandas object, that looks like an excel sheet
import pandas as pd
pd.DataFrame.from_dict(d)

     Names      Numbers
0  Mahmood   8325235913
1   Muayad  83232358438

In [61]:
df = pd.DataFrame(list(dict_var.items()), columns = ["Names", "Phone-Number"]) 
print(df)
## outputting a dataframe to a csv file
df.to_csv("output2.csv", index = False)

     Names  Phone-Number
0     John    8325235913
1     Jack    8322235917
2     Jill   83232358438
3  Ibrahim    8324393182

In [64]:
## Reading CSV files 
df2 = pd.read_csv('output2.csv')

     Names  Phone-Number
0     John    8325235913
1     Jack    8322235917
2     Jill   83232358438
3  Ibrahim    8324393182