## Datatypes

In [64]:
var_str = "This is a string"
var_int = 45
var_float = 45.89999
var_list = [10,45,555,"Hello"]

In [25]:
# Printing variables
# integers +,-,*,**
print(var_int-var_float)
print(var_int**5)
print(var_int*var_float)

-0.8999900000000025
184528125
2065.49955

In [32]:
#Printing Variable: strings
print(var_str+" "+str(var_int))
#Second, better method
print(f"{var_str} and this is not a string: {var_int} and this is a list {var_list}")

This is a string [10, 45, 555, 'Hello']
This is a string and this is not a string: 45 and this is a list [10, 45, 555, 'Hello']

In [40]:
#data tranformation
#string
print(var_str)
var_str = var_str + " and everything else is not a string"
print(var_str)

This is a string and everything else is not a string
This is a string and everything else is not a string and everything else is not a string

In [41]:
#data tranformation
#numeric
print(var_int)
var_int = var_int + 100
print(var_int)

45
145

In [51]:
#data tranformation
#list
print(var_list)
var_list.append(1045.889)
var_list[2] = "Another String"
var_list = var_list[0:5]
var_list

[10, 45, 'Another String', 'Hello', 1045.889]

[10, 45, 'Another String', 'Hello', 1045.889]

In [65]:
#list functions and operations
#remove
var_list.append("Hello")
var_list.remove('Hello')
#var_list2 = var_list
print(var_list)
#print(var_list2.clear())
del var_list[0]
print(var_list)

[10, 45, 555, 'Hello']
[45, 555, 'Hello']

In [80]:
#Advanced Operations
#len operator: length of object
#Print half the string
len(var_str)
halfway = int(len(var_str)/2)
halfway = len(var_str)//2
var_str[0:halfway]
#len on lists: how many items are in a list
len(var_list)

3

In [86]:
#index
print(var_str)
var_str.index('is a string')

This is a string

5

In [100]:
#count
print(var_str)
var_str.count('i')
#substring and reversing string
var_str[::-1]
#split
new_str = 'Ibrahim, Mahmoud, Muayad'
names = new_str.split(', ')
print(names)

This is a string
['Ibrahim', 'Mahmoud', 'Muayad']

### Boolean

In [121]:
x = 1
bool_var = bool(x==1)
print(bool_var)

True

## Functions

Write a function that take in the base and height of a triangle and returns the area

In [114]:
def areaTriangle(base, height):
    area = 0.5 * (base*height)
    return area

In [117]:
result = areaTriangle(10, 40)
print(result)

200.0

### if Statements

In [126]:
x = 1
i = 10
if x == 1 and i == 10:
    print("Success")
if i == 10:
    print("Success")
elif x == 2:
    print("Fail")
else: 
    print("Done")

Success
Success

Practice Problem
: Write a function that is passed a list of names and returns the location of 'Bob" in that list 
EC: return -1 if bob is not in the list:

In [127]:
names = ['Todd', "Jeff", "Carol", "Bob"]

In [141]:
def whereIsBob(names):
    return names.index("Bob") + 1

In [143]:
x = whereIsBob(names)
print(x)

4

### Loops in Python
#### The While Loop

In [132]:
i = 0
while(i < len(names)):
    print(names[i])
    i = i + 1

Todd
Jeff
Carol
Bob

In [153]:
#Another approachh to practice problem
i = 0
while(i < len(names)):
    if names[i] == "Bob":
        print(i)
    i = i + 1

3

In [158]:
# EC: return -1 if bob is not in the list:
def whereIsBob2(names):
    return_var = -1
    i2 = 0
    while(i2 < len(names)):
        if names[i2] == "Bob":
            return_var = i2
            break
        else:
            i2 = i2 + 1
    return(return_var)

In [161]:
whereIsBob2(names)
whereIsBob2(['Christy', "Jackson"])\

-1

### Additional Problems

In [163]:
#Write a function that converts hours into seconds.
def convertHourstoSeconds(hour):
    return hour*60*60
convertHourstoSeconds(10)

36000

In [ ]:
#### Problem 1
Return the First Element in a List
Create a function that takes a list and returns the first element.

Examples
get_first_value([1, 2, 3]) ➞ 1

get_first_value([80, 5, 100]) ➞ 80

get_first_value([-500, 0, 50]) ➞ -500
Notes
The first element in a list always has an index of 0.

#### Problem 2
Four Passengers and a Driver
A typical car can hold 4 passengers and 1 driver, overall allowing 5 people to travel around. Given n number of people, return how many cars are needed to seat everyone comfortably.

Examples
cars_needed(5) ➞ 1

cars_needed(11) ➞ 3

cars_needed(0) ➞ 0
Notes
It's likely there will be a few people left over and some cars won't be filled to max capacity.

Resources:

https://edabit.com/challenge/T7DpLzEkAkcxKijz

what i recommend:
remaider = 10%4
remaider = 2